html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #000000;
}

a {
  text-decoration: none;
}

ol {
  margin-left: 0;
}

ol li {
  list-style: none;
}

.ut-max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.ut-main-padding {
  padding: 0 18px;
}

.ut-padding-footer {
  padding: 0 20px;
}

.ut-list-style-none {
  margin: 0;
  padding: 0;
}

.ut-list-style-none li {
  list-style: none;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.object-right {
  -o-object-position: right;
     object-position: right;
}

header {
  background-color: #F7F3F4;
}

.header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  color: #000000;
  height: 10rem;
  border-bottom: 4px solid #222433;
}

.header-wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .logo .image-wrapper {
  width: 11.1rem;
  height: 3.7rem;
}

.header-wrapper nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-wrapper ol {
  padding-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrapper li {
  width: 25%;
  text-align: center;
}

.header-wrapper a {
  font-size: 1.6rem;
  opacity: 0.8;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-wrapper a:hover {
  font-weight: bold;
}

.functional-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-menu-btn {
  width: 2.2rem;
  height: 1.7rem;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

.btn-apply {
  display: none;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.3rem 4.8rem;
  border-radius: 4rem;
  background-color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-apply:hover {
  background-color: #000000;
  color: #ffffff;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%, #F7F3F4), color-stop(17%, transparent));
  background: linear-gradient(to bottom, #F7F3F4 83%, transparent 17%);
  overflow: hidden;
}

.headline {
  padding-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.headline .description {
  margin-top: 1.8em;
  font-size: 1.5rem;
  color: black;
  line-height: 32px;
  font-weight: 500;
}

.nature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline-image {
  width: 90vw;
  max-width: 542.72px;
  max-height: 292.74px;
}

.search-field {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 0.9em;
  border-radius: 3em;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.4em;
  height: 2em;
  margin-left: 1.5em;
}

.search-input {
  padding: 1.6em 0 1.6em 0;
  max-width: 151px;
  max-height: 24px;
  font-size: 1.4rem;
  color: #807C7C;
}

.search-input input {
  font-size: 1.4rem;
  width: 100%;
  outline: none;
  color: inherit;
  border: none;
}

.search-btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.5em 2em;
  border-radius: 2em;
  letter-spacing: 1px;
  background-color: #F2726C;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  margin-right: -18px;
  margin-left: -18px;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
}

.parrot {
  position: relative;
  top: 0;
  right: -18rem;
}

.parrot img {
  width: 45.8em;
  max-width: 458.44px;
}

.members-wrapper {
  position: absolute;
  right: 14em;
  bottom: 9.3em;
}

.members-background {
  position: relative;
  width: 21.6em;
  max-width: 272px;
  max-height: 320px;
}

.member-icon {
  position: absolute;
  top: 3.5em;
  left: 3em;
  width: 3.2em;
  max-width: 48px;
  max-height: 56px;
}

.members-count {
  position: absolute;
  bottom: 2.8em;
  left: 3em;
}

.members-count .title {
  color: #FFFFFF;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.members-count .count {
  color: #FFFFFF;
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
}

.news {
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 10em;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding-top: 50px;
}

.article .photo {
  width: 11.2em;
  height: 11.2em;
}

.article .info {
  margin-left: 3em;
  margin-right: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.article .info .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.article .info .title p {
  margin: 0px;
}

.article .info .see-more {
  color: #807C7C;
  font-size: 1.2rem;
}

.article .info .see-more a {
  color: inherit;
  text-decoration: underline;
}

.hashtag {
  font-size: 1.2rem;
  font-weight: 500;
  color: #807C7C;
}

.hashtag p {
  margin: 0px;
}

.hashtag span {
  color: #1E1A20;
  margin-right: 0.5rem;
}

.person {
  max-width: 42px;
  max-height: 42px;
  width: 11vw;
  height: 11vw;
}

.budget {
  max-width: 40px;
  max-height: 40px;
  width: 10.5vw;
  height: 10.5vw;
}

.machine {
  max-width: 32px;
  max-height: 40px;
  width: 8.5vw;
  height: 10.5vw;
}

.quote {
  padding-top: 300px;
}

.quote .title {
  position: relative;
  z-index: 1;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #1E1A20;
  line-height: 1.75em;
}

.quote .title:after {
  content: "";
  margin-top: 33px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #222433;
}

.quote li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote li:last-child {
  margin-top: 34px;
}

.quote .wrapper {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote .image-title {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 0;
}

.decoration {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gradient-moon {
  z-index: 0;
  position: absolute;
  top: -68px;
  max-width: 400px;
  max-height: 400px;
  width: 62.5vw;
  height: 62.5vw;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.49%, #F7F3F4), to(rgba(247, 243, 244, 0)));
  background: linear-gradient(180deg, #F7F3F4 26.49%, rgba(247, 243, 244, 0) 100%);
}

.foliage-left {
  position: absolute;
  bottom: -35px;
  left: 0;
  -webkit-transform: rotate(39.29deg);
          transform: rotate(39.29deg);
  max-width: 130px;
  max-height: 400px;
  width: 17.25vw;
  height: 53.25vw;
}

.foliage-right {
  position: absolute;
  bottom: -25px;
  right: 0;
  -webkit-transform: rotate(-39.29deg);
          transform: rotate(-39.29deg);
  max-width: 162px;
  max-height: 400px;
  width: 21.5vw;
  height: 53.25vw;
}

footer {
  background-color: #F7F3F4;
  margin-top: 100px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 43px;
}

.footer-wrapper .title {
  font-size: 1.8rem;
  line-height: 1.8em;
  font-weight: bold;
}

.contacts {
  width: 100%;
  color: #333333;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.contacts .title {
  margin: 0;
  color: inherit;
  font-size: 2.8rem;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.headquarters address {
  width: 80%;
  font-size: 1.2rem;
  line-height: 2em;
  font-style: normal;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-icon {
  display: block;
  width: 8.5vw;
  height: 8.5vw;
  max-width: 32px;
  max-height: 32px;
}

.title {
  color: #333333;
}

.hashtag {
  color: #807C7C;
}

.hashtag span {
  color: #1E1A20;
}

@media (max-width: 374px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1024px) {
  .mobile-menu-btn {
    display: none;
  }
  .btn-apply {
    display: inline;
  }
  .header-wrapper nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headline {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .hero {
    overflow: unset;
  }
  .news {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contacts {
    width: unset;
  }
}
/*# sourceMappingURL=style.css.map */