
$font-primary: 'Poppins', sans-serif;

$color-background-primary: #ffffff;
$color-background-secondary: #F7F3F4;
$color-background-accent: #FFBD9E;

$color-primary: #000000;
$color-primary-dark: #1E1A20;
$color-primary-light: #807C7C;

$color-secondary: #333333;

$color-accent: #222433;
$color-accent-secondary: #1E1A20;

$color-btn-primary: #FFFFFF;
$color-btn-secondary: #F2726C;

$main-padding: 18px;
$footer-padding: 20px;

html {
    font-family: $font-primary;
    font-size: 10px;
    color: $color-primary;
}

//global styles

a {
    text-decoration: none;
}
ol {
    margin-left: 0;
    li {
        list-style: none;
    }
}

//utilities
.ut-max-width {
    max-width: 1280px;
    margin: 0 auto;
}
.ut-main-padding {
    padding: 0 $main-padding;
}
.ut-padding-footer {
    padding: 0 $footer-padding;
}
.ut-list-style-none {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

.image-wrapper {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.object-right {
    object-position: right;
}

// header
header {
    background-color: $color-background-secondary;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: $color-primary;
    height: 10rem;
    border-bottom: 4px solid $color-accent;
    .logo {
        display: flex;
        align-items: center;
        .image-wrapper {
            width: 11.1rem;
            height: 3.7rem;
        }
    }
    nav {
        display: none;
        align-items: center;
        height: 100%;
    }
    ol {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    }
    li {
        width: 25%;
        text-align: center;
    }
    a {
        font-size: 1.6rem;
        opacity: 0.8;
        color: inherit;
        transition: 0.3s;
        &:hover{
            font-weight: bold;
        }
    }
}

.functional-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-btn {
    width: 2.2rem;
    height: 1.7rem;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
}

.btn-apply {
    display: none;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1.3rem 4.8rem;
    border-radius: 4rem;
    background-color: $color-btn-primary;
    transition: 0.3s;
    &:hover {
        background-color: $color-primary;
        color: $color-background-primary;
    }
}



//main
main {
    background: $color-background-primary;
}

//headline section

.headline-wrapper{
    background: linear-gradient(to bottom, $color-background-secondary 83%, transparent 0%);
}
.headline {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    .description {
        margin-top: 1.8em;
        font-size: 1.5rem;
        color: black;
        line-height: 32px;
        font-weight: 500;
    }
}
.nature {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline-image{
    width: 90vw;
    max-width: 542.72px;
    max-height: 292.74px;
}
.search-field {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.9em;
    border-radius: 3em;
    background-color: $color-btn-primary;
    box-sizing: border-box;
}
.map-point {
    display: flex;
    width: 1.4em;
    height: 2em;
    margin-left: 1.5em;
}
.search-input {
    padding: 1.6em 0 1.6em 0;
    max-width: 151px;
    max-height: 24px;
    font-size: 1.4rem;
    color: $color-primary-light;
    input {
        font-size: 1.4rem;
        width: 100%;
        outline: none;
        color: inherit;
        border: none;
    }
}
.search-btn {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1.5em 2em;
    border-radius: 2em;
    letter-spacing: 1px;
    background-color: $color-btn-secondary;
    color: $color-btn-primary;
    text-transform: uppercase;
    border: none;
}

//hero section
.hero {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-right: -$main-padding;
    margin-left: -$main-padding;
}
.hero-image{
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
}
.parrot {
    position: relative;
    top: 0;
    right: -18rem;
    img {
        width: 45.8em;
        max-width: 458.44px;
    }
}

.members-wrapper {
    position: absolute;
    right: 14em;
    bottom: 9.3em;
}
.members-background {
    position: relative;
    width: 21.6em;
    max-width: 272px;
    max-height: 320px;
}
.member-icon {
    position: absolute;
    top: 3.5em;
    left: 3em;
    width: 3.2em;
    max-width: 48px;
    max-height: 56px;
}
.members-count {
    position: absolute;
    bottom: 2.8em;
    left: 3em;
    .title {
        color: $color-btn-primary;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .count {
        color: $color-btn-primary;
        margin: 0;
        font-size: 4rem;
        font-weight: 600;
    }
}

//news section
.news-wrapper{
    background-color: $color-background-primary;
}
.news {
    background-color: $color-btn-primary;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 10em;
}
.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 50px;
    .photo {
        width: 11.2em;
        height: 11.2em;
    }
    .info {
        margin-left: 3em;
        margin-right: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title {
            font-size: 1.4rem;
            font-weight:bold;
            p {
                margin: 0px;
            }
        }
        .see-more {
            color: $color-primary-light;
            font-size: 1.2rem;
            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}
.hashtag {
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-primary-light;
    p {
        margin: 0px;
    }
    span {
        color: $color-primary-dark;
        margin-right: 0.5rem;
    }
}

//card
.cards-wrapper {

}
.card {
    background-color: $color-background-accent;
    width: 100%;
    .title {
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 1.5em;
        text-transform: capitalize;
    }
    .description {
        font-size: 1.5rem;
        line-height: 1.25em
    }
}

//quote section
.quote-wrapper {
    background-color: $color-background-primary;
}
.quote {
    padding-top: 270px;
    overflow-x: hidden;
    .title {
        position: relative;
        z-index: 1;
        font-size: 2.4rem;
        font-weight:bold;
        text-align: center;
        color: $color-primary-dark;
        line-height: 1.75em;
        &:after {
            content:"";
            margin-top: 33px;
            display: block;
            width: 100%;
            height: 3px;
            background-color: $color-accent;
        }
    }
    li {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    li:last-child{
        margin-top: 34px;
    }
    .wrapper {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image-title {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        line-height: 2rem;
        color: $color-secondary;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 24px;
        margin-bottom: 0;
    }
    .decoration {
        z-index: 0;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.gradient-moon {
    z-index: 0;
    position: absolute;
    top: -68px;
    max-width: 400px;
    max-height: 400px;
    width: 62.5vw;
    height: 62.5vw;
    border-radius: 100%;
    background: linear-gradient(180deg, #F7F3F4 26.49%, rgba(247, 243, 244, 0) 100%);
}
.foliage-left {
    position: absolute;
    bottom: -35px;
    left: 0;
    transform: rotate(39.29deg);
    max-width: 130px;
    max-height: 400px;
    width: 17.25vw;
    height: 53.25vw;
    // width: 34.5vw;
    // height: 106.5vw;
}
.foliage-right {
    position: absolute;
    bottom: -25px;
    right: 0;
    transform: rotate(-39.29deg);
    max-width: 162px;
    max-height: 400px;
    width: 21.5vw;
    height: 53.25vw;
    // width: 43vw;
    // height: 106.5vw;
}
.person {
    max-width: 42px;
    max-height: 42px;
    width: 11vw;
    height: 11vw;
}
.budget {
    max-width: 40px;
    max-height: 40px;
    width: 10.5vw;
    height: 10.5vw;
}
.machine {
    max-width: 32px;
    max-height: 40px;
    width: 8.5vw;
    height: 10.5vw;
}

//footer
.footer-wrapper {
    background-color: $color-background-secondary;
}
.footer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 43px;
    .title {
        font-size: 1.8rem;
        line-height: 1.8em;
        font-weight: bold;
    }
}

.contacts {
    width: 100%;
    color: $color-secondary;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    .title {
        margin: 0;
        color: inherit;
        font-size: 2.8rem;
        line-height: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.headquarters {
    address {
        width: 80%;
        font-size: 1.2rem;
        line-height: 2em;
        font-style: normal;
    }
}

.social-media {
    display: flex;
    flex-direction: column;
}
.social-media-links {
    display: flex;
    justify-content: space-between
}
.social-media-icon {
    display: block;
    width: 8.5vw;
    height: 8.5vw;
    max-width: 32px;
    max-height: 32px;
}



.title {
    color: $color-secondary;
}

.hashtag {
    color: $color-primary-light;
    span {
        color: $color-primary-dark;
    }
}

@media (max-width: 374px) {
    html {
        font-size: 8px;
    }
}
@media (min-width: 1024px) {
    // main {
    //     background: linear-gradient(to bottom, $color-background-secondary 30%, transparent 17%);
    //     overflow: hidden;
    // }

    .mobile-menu-btn {
        display: none;
    }
    .btn-apply {
        display: inline;
    }

    .header-wrapper nav {
        display: flex;
    }
    .headline {
        grid-template-columns: 1fr 1fr;
    }
    //headline
    .hero {
        overflow: unset;
    }

    //news
    .news {
        grid-template-columns: 1fr 1fr 1fr;
    }

    //footer-wrapper
    .footer-wrapper {
        justify-content: space-around;
    }
    .contacts {
        width: unset;
    }

}