html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #000000;
}

a {
  text-decoration: none;
}

ol {
  margin-left: 0;
}

ol li {
  list-style: none;
}

.ut-max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.ut-main-padding {
  padding: 0 18px;
}

.ut-padding-footer {
  padding: 0 20px;
}

.ut-list-style-none {
  margin: 0;
  padding: 0;
}

.ut-list-style-none li {
  list-style: none;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.object-right {
  -o-object-position: right;
     object-position: right;
}

header {
  background-color: #F7F3F4;
}

.header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  color: #000000;
  height: 10rem;
  border-bottom: 4px solid #222433;
}

.header-wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .logo .image-wrapper {
  width: 11.1rem;
  height: 3.7rem;
}

.header-wrapper nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-wrapper ol {
  padding-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-wrapper li {
  width: 25%;
  text-align: center;
}

.header-wrapper a {
  font-size: 1.6rem;
  opacity: 0.8;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-wrapper a:hover {
  font-weight: bold;
}

.functional-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-menu-btn {
  width: 2.2rem;
  height: 1.7rem;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

.btn-apply {
  display: none;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.3rem 4.8rem;
  border-radius: 4rem;
  background-color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-apply:hover {
  background-color: #000000;
  color: #ffffff;
}

main {
  background: #ffffff;
  overflow: hidden;
}

.headline-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%, #F7F3F4), color-stop(0%, transparent));
  background: linear-gradient(to bottom, #F7F3F4 83%, transparent 0%);
}

.headline {
  padding-top: 7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.headline .description {
  margin-top: 1.8em;
  font-size: 1.5rem;
  color: black;
  line-height: 2em;
}

.nature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headline-image {
  width: 90vw;
  max-width: 542.72px;
  max-height: 292.74px;
}

.search-field {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 0.9em;
  border-radius: 3em;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.4em;
  height: 2em;
  margin-left: 1.5em;
}

.search-input {
  padding: 1.6em 0 1.6em 0;
  max-width: 151px;
  max-height: 24px;
  font-size: 1.4rem;
  color: #807C7C;
}

.search-input input {
  font-size: 1.4rem;
  width: 100%;
  outline: none;
  color: inherit;
  border: none;
}

.search-btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.5em 2em;
  border-radius: 2em;
  letter-spacing: 1px;
  background-color: #F2726C;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  margin-right: -18px;
  margin-left: -18px;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
}

.parrot {
  position: relative;
  top: 0;
  right: -18rem;
}

.parrot img {
  width: 45.8em;
  max-width: 458.44px;
  max-height: 565px;
}

.members-wrapper {
  position: absolute;
  right: 14em;
  bottom: 9.3em;
}

.members-background {
  position: relative;
  width: 21.6em;
  max-width: 272px;
  max-height: 320px;
}

.member-icon {
  position: absolute;
  top: 3.5em;
  left: 3em;
  width: 3.2em;
  max-width: 48px;
  max-height: 56px;
}

.members-count {
  position: absolute;
  bottom: 2.8em;
  left: 3em;
}

.members-count .title {
  color: #FFFFFF;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.members-count .count {
  color: #FFFFFF;
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
}

.news-wrapper {
  background-color: #ffffff;
}

.news {
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  padding-bottom: 10em;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding-top: 50px;
}

.article .photo {
  width: 11.2em;
  height: 11.2em;
}

.article .info {
  margin-left: 3em;
  margin-right: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.article .info .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.article .info .title p {
  margin: 0px;
}

.article .info .see-more {
  color: #807C7C;
  font-size: 1.2rem;
}

.article .info .see-more a {
  color: inherit;
  text-decoration: underline;
}

.hashtag {
  font-size: 1.2rem;
  font-weight: 500;
  color: #807C7C;
}

.hashtag p {
  margin: 0px;
}

.hashtag span {
  color: #1E1A20;
  margin-right: 0.5rem;
}

.cards .flickity-prev-next-button {
  display: none;
}

.cards .flickity-page-dots .dot {
  background-color: #ffffff;
  border: 1px solid #000000;
  opacity: 1;
}

.cards .dot.is-selected {
  background-color: #000000;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFBD9E;
  width: 100%;
  padding: 4em 4.3em 0 4.3em;
  border-radius: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card .title {
  color: #222433;
  margin: 0;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5em;
  text-transform: capitalize;
}

.card .description {
  color: #1E1A20;
  font-size: 1.5rem;
  line-height: 1.75em;
  margin-top: 2rem;
}

.card .decoration {
  margin-top: 2.5rem;
  position: relative;
  width: 27.2rem;
  height: 31rem;
}

.card .main-decoration, .card .secondary-decoration {
  position: absolute;
  width: 27.2rem;
  height: 43.2rem;
  background-color: white;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.card .main-decoration {
  left: -2.4rem;
}

.card .secondary-decoration {
  left: 2.5rem;
  top: 6.5rem;
  opacity: 0.5;
}

.quote-wrapper {
  background-color: #ffffff;
}

.quote {
  padding-top: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote .title {
  position: relative;
  z-index: 1;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #1E1A20;
  line-height: 1.75em;
}

.quote .title:after {
  content: "";
  margin-top: 3.3rem;
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #222433;
}

.quote li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote li:last-child {
  margin-top: 34px;
}

.quote .wrapper {
  position: relative;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote .image-title {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 0;
}

.quote .decoration {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: -20.5rem;
  left: 0;
}

.gradient-moon {
  z-index: 0;
  position: absolute;
  top: -6.8rem;
  width: 23.4rem;
  height: 23.4rem;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.49%, #F7F3F4), to(rgba(247, 243, 244, 0)));
  background: linear-gradient(180deg, #F7F3F4 26.49%, rgba(247, 243, 244, 0) 100%);
}

.foliage-left, .foliage-right {
  display: none;
}

.foliage-left-small {
  position: absolute;
  bottom: 1.5rem;
  left: -1.7rem;
  width: 13.2rem;
}

.foliage-right-small {
  position: absolute;
  bottom: 1.5rem;
  right: -1.7rem;
  width: 13.2rem;
}

.person {
  max-width: 42px;
  max-height: 42px;
  width: 11vw;
  height: 11vw;
}

.budget {
  max-width: 40px;
  max-height: 40px;
  width: 10.5vw;
  height: 10.5vw;
}

.machine {
  max-width: 32px;
  max-height: 40px;
  width: 8.5vw;
  height: 10.5vw;
}

.footer-wrapper {
  background-color: #F7F3F4;
}

.footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 43px;
}

.footer .title {
  font-size: 1.8rem;
  line-height: 1.8em;
  font-weight: bold;
}

.contacts {
  width: 100%;
  color: #333333;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.contacts .title {
  margin: 0;
  color: inherit;
  font-size: 2.8rem;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts .description {
  font-size: 1.2rem;
  line-height: 2em;
  letter-spacing: 0.3px;
}

.headquarters address {
  width: 80%;
  font-size: 1.2rem;
  line-height: 2em;
  font-style: normal;
  letter-spacing: 0.3px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-icon {
  display: block;
  width: 8.5vw;
  height: 8.5vw;
  max-width: 32px;
  max-height: 32px;
}

.title {
  color: #333333;
}

.hashtag {
  color: #807C7C;
}

.hashtag span {
  color: #1E1A20;
}

@media (max-width: 374px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .quote .decoration {
    top: -11.5rem;
  }
  .contacts {
    width: unset;
  }
  .headline {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .hero, .nature {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .hero {
    overflow: unset;
  }
}

@media (min-width: 1024px) {
  .mobile-menu-btn {
    display: none;
  }
  .btn-apply {
    display: inline;
  }
  .header-wrapper nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headline-wrapper {
    background-color: #F7F3F4;
  }
  .headline {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 13rem;
  }
  .nature {
    padding: 6em 0 0 8em;
  }
  .nature .description, .nature .search-field {
    width: 80%;
  }
  .nature .description {
    font-size: 1.6em;
    margin-top: 3.7em;
    margin-bottom: 1.5em;
  }
  .search-btn {
    padding-left: 3em;
    padding-right: 3em;
  }
  .hero {
    overflow: unset;
    min-width: 60rem;
  }
  .parrot {
    right: 5rem;
  }
  .members-wrapper {
    right: 29em;
    bottom: -3em;
  }
  .members-background {
    width: 27em;
    height: 32em;
  }
  .member-icon {
    top: 3em;
    width: 5.2em;
  }
  .members-count {
    bottom: 4em;
  }
  .members-count .title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  .members-count .count {
    font-size: 5.6rem;
  }
  .cards-wrapper {
    padding: 9em 0 9em 0;
  }
  .cards {
    width: 69%;
  }
  .cards .flickity-page-dots {
    display: none;
  }
  .cards .flickity-prev-next-button {
    display: block;
    background: none;
    width: 66px;
    height: 66px;
  }
  .cards .flickity-prev-next-button.next {
    right: -11rem;
  }
  .cards .flickity-prev-next-button.previous {
    left: -11rem;
  }
  .cards .title {
    font-size: 4rem;
    line-height: 1.4em;
  }
  .cards .description {
    margin-top: 2em;
    font-size: 1.8rem;
    line-height: 1.8em;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 8rem 0 8rem;
  }
  .card .info {
    width: 46%;
  }
  .card .decoration {
    margin-top: 7.5rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 43rem;
  }
  .quote .title {
    font-size: 5rem;
    line-height: 1.3em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
  }
  .quote .title::after {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    height: 0.4rem;
    margin-top: 6.3rem;
  }
  .quote .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .quote li {
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .quote .decoration {
    top: -66.5rem;
  }
  .quote .image-title {
    margin-top: 0;
    margin-left: 1rem;
  }
  .foliage-left-small, .foliage-right-small {
    display: none;
  }
  .foliage-left, .foliage-right {
    display: block;
    position: absolute;
  }
  .foliage-left {
    top: 22.1rem;
    left: 0;
    width: 13rem;
    height: 40rem;
  }
  .foliage-right {
    top: 21.5rem;
    right: -1.5rem;
    width: 16rem;
    height: 40rem;
  }
  .gradient-moon {
    top: 20.5rem;
    width: 40rem;
    height: 40rem;
  }
  .footer {
    padding: 9.4rem 16rem 8.8rem;
  }
  .footer .title {
    font-size: 2rem;
    line-height: 1.2em;
  }
  .headquarters address, .headquarters .description, .contacts address, .contacts .description {
    font-size: 1.3rem;
    line-height: 1.8em;
    margin-top: 4rem;
  }
  .headquarters address, .contacts address {
    width: 100%;
  }
  .contacts .title {
    font-size: 3.4rem;
    line-height: 1.3em;
  }
  .contacts .description {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */